body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.header-menu {
    position: fixed;
    background:#7A7DAF;
    padding: 20px;
    width: 100%;
}

.area-left h3 {
    color: #ffffff;
    margin: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 900;
}

.area-left span {
    color: rgb(91, 222, 255);
}

.btn-logout {
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: #0D9DBB;
}

.btn-logout:hover {
    background: #0D9DBB;
}

.sidebar {
    border: 1px solid gray;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}

.sidebar .img-profile {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a {
    color: gray;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    margin-top: 15px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: #19B3D3;
}

.sidebar a:hover {
    background: #19B3D3;
    margin-top: 20px;
}

.sidebar i {
    padding-right: 10px;
}

label #sidebar_btn {
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 290px;
    font-size: 25px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: #19B3D3;
}

label #sidebar_btn:hover {
    color: #19B3D3;
}

#check:checked~.sidebar {
    left: -190px;
}

#check:checked~.sidebar a span {
    display: none;
}

#check:checked~.sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}

.contenido {
    margin-left: 250px;
    height: 100vh;
    transition: 0.5s;
}

#check:checked~.contenido {
    margin-left: 60px;
}

#check {
    display: none;
}

.fondocolor {
    position: fixed;
    margin-top: 71;
    margin-left: 2;
    background: #D4D5E5;
    height: 100px;
    width: 100%;
}

.comienzo-cont {
    position: fixed;
    margin-top: 120px;
    width: 77%;
    border: 1px solid rgb(138, 129, 129);
    margin-left: 40px;
    border-radius: 20px;
    background: white;
}

.comienzo-cont h3 {
    text-transform: uppercase;
}

.titulo-cont {
    justify-content: center;
    justify-content: center;
    text-align: center;
}

.opciones-comienzo {
    position: static;
    display: flex;
    justify-content: center;
}

.opc-comienzo {
    margin-right: 40px;
    margin-left: 40px;
}

.opc-titulo1 {
    color: #3A681F;
}

.opc-titulo2 {
    color: #0D1863;
}

.final-cont {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    width: 77%;
    margin-top: 400px;
    position: fixed;
    margin-left: 60px;
}

.eventos {
    border: 1px solid gray;
    border-radius: 20px;
    height: 40vh;
    margin-left: -41px;
}

.img-eventos {
    background: url(/img/91612ff3-de2c-418e-a417-0e515517ab84.jpg) no-repeat;
    background-size: cover;
    width: 200px;
    height: 40vh;
    position: fixed;
    float: right;
}

.box {
    width: 700px;
    height: 300px;
    margin: 20px;
}

.box-img {
    width: 300px;
    height: 300px;
    margin: 20px;
}

@media screen and (max-width:1200px) {
    .box {
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .box {
        width: 90%;
    }
}
